*{
    font-family: Arial, Helvetica, sans-serif;
}

section{ /*Altura para poder ver los fondos*/
    height: 400px;
}

div{ /*Altura para poder ver los fondos*/
    height: 400px;
}

.fondoColor{
    background-color: #0f6666;
}

.fondoOpacidad{ /*Transparencia*/
    background-color: #5d0c0c;
    opacity: 0.6;
}

.fondoImagen{
    background-image: url("../img/fondo1.png");
}

.fondoRepetidoX{ /*Horizontal*/
    background-image: url("../img/fondo2.png");
    background-repeat: repeat-x;
}

.fondoRepetidoY{ /*Vertical*/
    background-image: url("../img/fondo1.png");
    background-repeat: repeat-y;
}

.fondoNoRepetido{
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
}

.fondoPosicion{
    background-image: url("../img/fondo1.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.fondoCompleto{
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

